<template name="simpleSentiment">

  <div class="row">
    <div class="col-md-3">

		<div class="panel panel-default">
			  <div class="panel-heading">Predict sentiment of text</div>
			  <div class="panel-body">

		    <div class="input-group">
		    	<span class="input-group-addon">Classifier</span>
					<select id="classifier-text" class="form-control">
						<option value="maxent">MaxEnt</option>
						<option value="bernoulli">Bernoulli</option>
						<option value="multinomialnb">Multinomial naive Bayes</option>
						<option value="linear">Linear</option>
						<option value="sgd">Stochastic Gradient Descent</option>
					</select>
			</div>

		    <div class="input-group">
		      <span class="input-group-addon">
		        <span>Text</span>
		      </span>
		      <input class="form-control sentiment-text" type="text"/>
		    </div>

		    <button type="button" class="btn btn-default run-sentiment" aria-label="Left Align">
		        <span>Predict sentiment</span>
		    </button>


		  	{{#if notEmpty simpleSentiment}}
		  	<div class="simple-sentiment-text">
		    	<h1>{{simpleSentiment}} <i class="fa {{sentimentSmiley simpleSentiment}}"></i></h1>
		    </div>
		    {{/if}}

			</div>
		</div>
  	</div>

    <div class="col-md-3">

		<div class="panel panel-default">
		  <div class="panel-heading">Search for tweets</div>
		  <div class="panel-body">

		    <div class="input-group">
		    	<span class="input-group-addon">Classifier</span>
					<select id="classifier-search" class="form-control">
						<option value="maxent">MaxEnt</option>
						<option value="bernoulli">Bernoulli</option>
						<option value="multinomialnb">Multinomial naive Bayes</option>
						<option value="linear">Linear</option>
						<option value="sgd">Stochastic Gradient Descent</option>
					</select>
			</div>
			    
		    <div class="input-group">
		      <span class="input-group-addon">
		        <span>Query</span>
		      </span>
		      <input class="form-control sentiment-tweets" type="text"/>
		    </div>

		    <div class="input-group">
		      <span class="input-group-addon">
		        <span>Count</span>
		      </span>
		      <input class="form-control count-filter" type="number" value="50" min="1" max="100"/>
		    </div>

			<div class="input-group">
				<span class="input-group-addon">
					<span>Include</span>
				</span>
					<label class="checkbox-inline"><input type="checkbox" class="link-filter" value="" checked>Links</label>
					<label class="checkbox-inline"><input type="checkbox" class="retweet-filter" value="" checked>Retweets</label>
					<label class="checkbox-inline"><input type="checkbox" class="reply-filter" value="" checked>Replies</label>
			</div>

			<div class="input-group">
				<span class="input-group-addon">
					<span>Result type</span>
				</span>
			  <div class="radio-group">
			    <div class="radio-inline">
			      <label>
			        <input type="radio" name="result_type" id="recentRadio" value="recent" class="radio-gender">
			        Recent
			      </label>
			    </div>
			    <div class="radio-inline">
			      <label>
			        <input type="radio" name="result_type" id="popularRadio" value="popular" class="radio-gender">
			        Popular
			      </label>
			    </div>
			    <div class="radio-inline">
			      <label>
			        <input type="radio" name="result_type" id="mixRadio" value="mixed" class="radio-gender" checked>
			        Mixed
			      </label>
			    </div>
			  </div>
			</div>


		    <button type="button" class="btn btn-default run-sentiment-tweets" aria-label="Left Align">
		        <span>Search</span>
		    </button>

			  </div>
		</div>
  	</div>

    <div class="col-md-6">

		<div class="panel panel-default">
			  <div class="panel-heading">Tweets</div>
			  <div class="panel-body">

			   {{> highchartsHelper chartId="all_gender_ratio" chartWidth="100%" charHeight="100%" chartObject=genderRatio}}

			  	<ul class="list-group">
			  	{{#each twitterSearchList}}
			  		<li class="list-group-item {{labelBasedOnSentiment sentiment}}"><a href="{{tweetUrlById _id}}" target="_blank">{{text}}</a></li>
			  	{{/each}}
			  	</ul>

			  </div>
		</div>
  	</div>

	</div>

</template>
