<template name="header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><ul class="glyphicon glyphicon glyphicon-pencil"> Twitter Analyzer</ul></a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="{{activeIfTemplateIs 'Topics'}}"><a href="{{ pathFor 'topics' }}">Topic Models</a></li>
          <!-- <li class="{{activeIfTemplateIs 'Hashtags'}}"><a href="{{ pathFor 'hashtags' }}">Hashtag stats</a></li> -->
          <li class="{{activeIfTemplateIs 'SimpleSentiment'}}"><a href="{{ pathFor 'simpleSentiment' }}">Sentiment</a></li>
        </ul>

      </div>
    </div>
  </nav>
</template>
